{% extends 'polls/index.html' %}
{% load static %}
{% block content %}
	{% if cat_list %}  
	    
	    <div class="section">
		    <div class="row">
		    	<div class="col s12" style="background-color: #ccc">
		    		<div class="section">
		    			{% for cat in cat_list %}
		    			<div class="col s12 m12 l4">
		    				
							<div class="card large">
								<div class="card-image">
									<img src="{{cat.image.url}}">
									<span class="card-title">{{cat.name}}</span>
								</div>
								<div class="card-content">
									<p>{{cat.description}}</p>
								</div>
								<div class="card-action">
									<a href="#">This is a link</a>
								</div>
							</div>
		    			</div>	


						
						{% endfor %}

		    		</div>
		    	</div>
		    	
		    </div>
	    </div>		

		
	{% else %}
    	<p>No cats are available.</p>
	{% endif %}
{% endblock %}