{% load static %}

<!DOCTYPE html>
<html>
<head>
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.theme.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.theme.min.css.map' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css.map' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'js/bootstrap.min.js' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'js/npm.js' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'js/glyphicons-halflings-regular.eot' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'js/glyphicons-halflings-regular.svg' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'js/glyphicons-halflings-regular.ttf' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'js/glyphicons-halflings-regular.woff' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'js/glyphicons-halflings-regular.woff2' %}"> -->
	<link rel="stylesheet" type="text/css" href="{% static 'materialize/css/materialize.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'materialize/js/materialize.min.js' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'materialize/roboto/Roboto-Bold.woff' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'materialize/roboto/Roboto-Bold.woff2' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'materialize/roboto/Roboto-Light.woff' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'materialize/roboto/Roboto-Light.woff2' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'materialize/roboto/Roboto-Medium.woff' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'materialize/roboto/Roboto-Medium.woff2' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'materialize/roboto/Roboto-Regular.woff' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'materialize/roboto/Roboto-Regular.woff2' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'materialize/roboto/Roboto-Bold.Thin' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'materialize/roboto/Roboto-Bold.Thin2' %}">






</head>
<body>

	<div class="container">
		{% block content %}
			{% if latest_question_list %}
			    <ul class="collection with-header">
			    <li class="collection-header"><h4>Lista de Preguntas</h4></li>
			    {% for question in latest_question_list %}
			        <a class="collection-item" href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
			    {% endfor %}
			    </ul>
			{% else %}
		    	<p>No polls are available.</p>
			{% endif %}
		{% endblock %}
	</div>
</body>
</html>
